* { 
    font-family: "Rubik", sans-serif;
    margin:0;
    padding:0;
    color: white;
}

/*Body layout*/
body{
    display: grid;
    grid-template-columns: 2.5fr 1fr; 
    grid-template-rows: auto 3fr auto;
    height: 100vh;
}

header{
    background-color: #321325;
    grid-column: 1/4;
}

header h1, footer h2{ padding: 1rem; }

nav{
    margin: 10px 0px 0px 0px;
}

nav ul{
    list-style: none;
    background-color: #5F0F40;
	display: flex;
	align-items: center;
}

nav li {flex: 1 1 auto;}

nav ul li a {
	display: block;
	color: #eee;
	padding: 0.75rem;
	text-decoration: none;
	text-align: center;
}

nav ul li a:hover{background-color:#FCDC4D; color: black;} 

main{
    grid-column: 1/2;
    background-color: #CB793A;
    padding: 2rem;
}

main img{
    display: block;
    margin:20px auto;
    max-width: 600px;
    min-width: 200px;
    width:50%;
}

aside{
    grid-column: 2/3;
    padding: 2rem;
    background-color: #9A031E;
}

footer{
    grid-column: 1/4;
    padding: 1rem;
    background-color: #321325;
}

